.team-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  height: 50vh;
  margin: 0 auto;
}
.team-form-field {
  width: 50%;
}
.create-team-submit {
  display: block;
}
#helmet-radio-group {
  height: fit-content;
  width: 50%;
  margin: 1vh auto;
}
mat-radio-button {
  padding: 0.25rem;
}

mat-card {
  width: fit-content;
  margin: 2vh auto;
}
