:host ::ng-deep router-outlet {
  width: 100%;
  height: 100vh;
}

// .toolbar-spacer {
//   flex: 1 1 auto;
// }

mat-toolbar {
  padding: 0 2.5rem;
}

mat-icon {
  font-size: 2rem;
  margin-bottom: 2.5rem;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

span.login,
span.logout,
mat-icon {
  cursor: pointer;
}
