:host ::ng-deep .mat-tab-list .mat-ink-bar {
  margin-bottom: 0.4rem;
  z-index: 10001;
  width: fit-content;
  background-color: #1e1e1e;
}

:host ::ng-deep .mat-tab-body,
:host ::ng-deep .mat-tab-body-content,
:host ::ng-deep .mat-tab-body-wrapper {
  height: 100vh;
  width: 100%;
  top: 1vh;
  left: 0;
}
:host ::ng-deep .mat-tab-body {
  // top: 0;
  width: 100%;
}

:host ::ng-deep .mat-tab-label .mat-tab-label-content {
  cursor: pointer;
}
:host ::ng-deep .mat-tab-label .mat-tab-label-content:hover {
  color: goldenrod;
  font-weight: 900;
}
:host ::ng-deep .mat-tab-header-pagination .mat-tab-header-pagination-chevron {
  border-color: #1e1e1e;
  height: 1rem;
  width: 1rem;
}

:host ::ng-deep .mat-tab-group .mat-tab-header {
  position: relative;
  // top: 0;
  left: 0;
  right: 0;
}

:host ::ng-deep .mat-tab-header,
:host ::ng-deep .mat-tab-list,
:host ::ng-deep .mat-tab-label,
mat-tab-group,
:host ::ng-deep .mat-tab-labels {
  min-height: 8vh;
  z-index: 10000;
  border: 0;
}
:host ::ng-deep .mat-tab-label {
  font-weight: 700;
  font-size: 0.6rem;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  color: #1e1e1e;
  opacity: 1;
}
