<main class="container full-size">
  <mat-tab-group class="full-size" mat-align-tabs="center" animationDuration="2000ms" [disableRipple]="true">
    <mat-tab label="My Team">
      <ng-template matTabContent>
        <app-my-team></app-my-team>
      </ng-template>
    </mat-tab>
    <mat-tab label="Matchup">
      <ng-template matTabContent>
        <app-matchup></app-matchup>
      </ng-template>
    </mat-tab>
    <mat-tab label="Trade">
      <ng-template matTabContent>
        <app-trade></app-trade>
      </ng-template>
    </mat-tab>
    <mat-tab label="Waiver">
      <ng-template matTabContent>
        <app-waiver></app-waiver>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</main>
